<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test-method Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69b199">  <td>17/09/29 17:06:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowserParallelTest.testMethodsOne()[pri:0, instance:org.tmobile.test.testng_example.MultiBrowserParallelTest@59fa1d9b]">testMethodsOne</td> 
  <td>pool-1-thread-1@531744476</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 17:06:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowserParallelTest.testMethodsThree()[pri:0, instance:org.tmobile.test.testng_example.MultiBrowserParallelTest@59fa1d9b]">testMethodsThree</td> 
  <td>pool-1-thread-2@1850691402</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 17:06:52</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowserParallelTest.testMethodsTwo()[pri:0, instance:org.tmobile.test.testng_example.MultiBrowserParallelTest@59fa1d9b]">testMethodsTwo</td> 
  <td>pool-1-thread-3@1328414059</td>   <td></td> </tr>
</table>
