<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69b199">  <td>17/09/29 16:53:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ParallelChromeTest.afterMethod()[pri:0, instance:org.tmobile.test.testng_example.ParallelChromeTest@3532ec19]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1596000437</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 16:53:29</td>   <td>24564</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ParallelChromeTest.afterMethod()[pri:0, instance:org.tmobile.test.testng_example.ParallelChromeTest@3532ec19]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1596000437</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 16:53:40</td>   <td>35599</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ParallelChromeTest.afterMethod()[pri:0, instance:org.tmobile.test.testng_example.ParallelChromeTest@3532ec19]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1596000437</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 16:52:46</td>   <td>-18498</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelChromeTest.beforeMethod()[pri:0, instance:org.tmobile.test.testng_example.ParallelChromeTest@3532ec19]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1596000437</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 16:53:07</td>   <td>2244</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelChromeTest.beforeMethod()[pri:0, instance:org.tmobile.test.testng_example.ParallelChromeTest@3532ec19]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1596000437</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 16:53:31</td>   <td>26698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelChromeTest.beforeMethod()[pri:0, instance:org.tmobile.test.testng_example.ParallelChromeTest@3532ec19]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1596000437</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 16:52:51</td>   <td>-13960</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelChromeTest.testMethodsOne()[pri:0, instance:org.tmobile.test.testng_example.ParallelChromeTest@3532ec19]">testMethodsOne</td> 
  <td>main@1596000437</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 16:53:11</td>   <td>5874</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelChromeTest.testMethodsThree()[pri:0, instance:org.tmobile.test.testng_example.ParallelChromeTest@3532ec19]">testMethodsThree</td> 
  <td>main@1596000437</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 16:53:35</td>   <td>30364</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelChromeTest.testMethodsTwo()[pri:0, instance:org.tmobile.test.testng_example.ParallelChromeTest@3532ec19]">testMethodsTwo</td> 
  <td>main@1596000437</td>   <td></td> </tr>
</table>
